*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    background: #2B3844;
    color: white;

}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
main{
    background: #202C36;
    min-height: 100vh;

}
main .container{
    padding: 50px;
}
input{
    background: #2B3844;
    
height: 56px;
border-radius: 5px;
padding: 20px;



}
i{
    color: white;
    position: relative;
    right: 30px;
}
.card{
    width: 224px;
height: 250px;
border-radius: 5px;
background: #2B3844;
box-shadow: 0px 0px 7px 2px #00000008;
text-align: center;
color: white;

}
img{
    width: 224px;
    border-radius: 5px 5px 0 0;
}
.box{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;  
    margin-top: 50px;
}
@media (max-width:834px) {
    .box{
        justify-content: center;
    }
    i{
        position: relative;
    }
    
}
@media (max-width:375px) {
    .box{
        justify-content: center;
    }
    
}